* {
    box-sizing: border-box;
}

html,body {
  padding: 0 50px;
}

html {
    background-color: #FFF6F4;
    font-family: 'IBM Plex Sans', sans-serif;  
}
  
  h1 {
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 16px;
    text-align: center;
  }
  
  p {
    font-size: 14px;
  }

  .header {
    box-sizing: border-box;
    background-color: #FFB74A;
    padding: 10px;
    width: 620px;
    height: 51px;
    margin: -10px auto 0 auto;
    border-radius: 0 0 20px 20px;
  }

  .sun-and-wings-container {
    display: flex;
  }

  .sun-box-eclipse {
    display: flex;
    margin: 30px auto 0 auto;
    width: 359px;
    height: 359px;
    border-radius: 50%;
    border: 6px solid #7F88E2;
    aspect-ratio: 1;
  }

  .sun-box {
    margin: auto;
    width: 335px;
    height: 335px;
    border-radius: 50%;
    border: 28px solid #FFB74A;
  }

  .wing-container {
    display: flex;
    height: 148px;
    width: 400px;
    aspect-ratio: 400 / 148;
  }

  .wing-eclipse {
    display: flex;
    margin: -5px auto 0 auto;
    width: 148px;
    height: 148px;
    border-radius: 50%;
    border: 6px solid #7F88E2;
    aspect-ratio: 1;
  }

  .wing-box {
    margin: auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 18px solid #FFB74A;
  }
 
  .wing-text {
    font-family: 'Imprima', sans-serif;
    margin: auto;
  }

  .content-boxes-container {
    margin-top: 100px;
    display: flex;
    gap: 20px;
  }

  .content-box-eclipse {
    display: flex;
    width: 267px;
    height: 252px;
    margin: auto;
    border: 6px solid #7F88E2;
    border-radius: 7px;
    aspect-ratio: 267 / 252;
  }
  
  .content-box {
    box-sizing: border-box;
    display: block grid;
    width: 243px;
    height: 230px;
    margin: auto;
    padding: 0 27px;
    background-color: #FFB74A;
    border-radius: 7px;
  }

  .content-box-header {
    margin: 10px auto 0;
    width: 180px;
    height: 42px;
  }

  .content-box-content {
    margin-top: 30px;
  }

  