html {
    background-color: #FFF6F4;
    font-family: 'IBM Plex Sans', sans-serif;  
}
  
  h1 {
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 16px;
    text-align: center;
  }
  
  p {
    font-size: 14px;
  }

  .splash {
    font-family: 'Imprima', sans-serif;
  }

  .sun-box-eclipse {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 348px;
    height: 348px;
    border-radius: 50%;
    border: 6px solid #7F88E2;
  }

  .sun-box {
    margin: auto;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 28px solid #FFB74A;
  }

  .content-boxes-container {
    margin-top: 100px;
    display: flex
  }

  .content-box-eclipse {
    box-sizing: border-box;
    display: flex;
    width: 267px;
    height: 252px;
    margin: auto;
    border: 6px solid #7F88E2;
    border-radius: 7px;
  }
  
  .content-box {
    box-sizing: border-box;
    display: block grid;
    width: 243px;
    height: 230px;
    margin: auto;
    padding: 0 27px;
    background-color: #FFB74A;
    border-radius: 7px;
  }

  .content-box-header {
    margin: 10px auto 0;
    width: 180px;
    height: 42px;
  }

  .content-box-content {
    margin-top: 30px;
  }

  